* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #2a7b9b;
}

.title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.table {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  color: black;
}
.grid {
  border-collapse: collapse;
  table-layout: fixed;
  width: auto;
  color: black;
  font-size: 1.2rem;
}

/* Td for square grid */
td {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: white;
}
/* Container for button group */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Styles for individual buttons */
.button {
  background: rgb(255, 255, 255);
  color: black;
  padding: 12px 20px;
  margin: 6px;
  border: none;
  border-radius: 12px; /* more roundness */
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}

